Repository Sparksjj/ngx-foundation: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --config .htmlhintrc -i index.html, stylelint --fix, stylelint -s=scss --fix, prettier --write

.lintstagedrc:

{
  "*.html": "htmlhint --config .htmlhintrc -i index.html",
  "*.css": [
    "stylelint --fix"
  ],
  "*.scss": [
    "stylelint -s=scss --fix"
  ],
  "*.{js,ts,css,scss,md}": "prettier --write"
}

fix stylelint
  .vscode/settings.json
  apps/angular-core/src/app/app.component.scss
Due: stylelint -s=scss --fix, prettier --write

add class instance to bcss
  libs/backend-static/README.md
  libs/backend-static/package.json
  libs/backend-static/src/index.ts
  libs/backend-static/src/lib/models/default-backend-static-model.ts
  libs/backend-static/src/lib/resolvers/backend-static.resolver.ts
  libs/backend-static/src/lib/services/backend-static.service.ts
  libs/backend-static/src/lib/tokens/backend-static-tokens.ts
Due: prettier --write

refactor service
  apps/angular-core/src/app/app.module.ts
  libs/backend-static/src/lib/resolvers/backend-static.resolver.ts
  libs/backend-static/src/lib/services/backend-static.service.ts
Due: prettier --write

change version
  libs/backend-static/package.json
Due: none

add form helpers lib
  libs/form-helpers/.browserslistrc
  libs/form-helpers/.eslintrc.json
  libs/form-helpers/README.md
  libs/form-helpers/jest.config.ts
  libs/form-helpers/ng-package.json
  libs/form-helpers/package.json
  libs/form-helpers/project.json
  libs/form-helpers/src/index.ts
  libs/form-helpers/src/lib/focus-first-invalid-field.ts
  libs/form-helpers/src/lib/index.ts
  libs/form-helpers/src/test-setup.ts
  libs/form-helpers/tsconfig.json
  libs/form-helpers/tsconfig.lib.json
  libs/form-helpers/tsconfig.lib.prod.json
  libs/form-helpers/tsconfig.spec.json
Due: prettier --write

add form helpers lib
  libs/form-helpers/package.json
  libs/form-helpers/src/index.ts
  libs/form-helpers/src/lib/directives/autofocus.directive.ts
  libs/form-helpers/src/lib/directives/directives.module.ts
Due: prettier --write

add base storage
  libs/base-models/.browserslistrc
  libs/base-models/.eslintrc.json
  libs/base-models/README.md
  libs/base-models/jest.config.ts
  libs/base-models/ng-package.json
  libs/base-models/package.json
  libs/base-models/project.json
  libs/base-models/src/index.ts
  libs/base-models/src/lib/base-item.ts
  libs/base-models/src/lib/base-storage.ts
  libs/base-models/src/lib/index.ts
  libs/base-models/src/test-setup.ts
  libs/base-models/tsconfig.json
  libs/base-models/tsconfig.lib.json
  libs/base-models/tsconfig.lib.prod.json
  libs/base-models/tsconfig.spec.json
Due: prettier --write

update some packages
  .vscode/settings.json
  angular.json
  libs/base-models/src/lib/index.ts
  libs/base-models/src/lib/pagination.ts
  libs/defer-load/.browserslistrc
  libs/defer-load/.eslintrc.json
  libs/defer-load/README.md
  libs/defer-load/jest.config.ts
  libs/defer-load/ng-package.json
  libs/defer-load/package.json
  libs/defer-load/project.json
  libs/defer-load/src/index.ts
  libs/defer-load/src/lib/defer-load.directive.ts
  libs/defer-load/src/lib/defer-load.module.ts
  libs/defer-load/src/test-setup.ts
  libs/defer-load/tsconfig.json
  libs/defer-load/tsconfig.lib.json
  libs/defer-load/tsconfig.lib.prod.json
  libs/defer-load/tsconfig.spec.json
  libs/ngx-pipes/.browserslistrc
  libs/ngx-pipes/.eslintrc.json
  libs/ngx-pipes/README.md
  libs/ngx-pipes/jest.config.ts
  libs/ngx-pipes/ng-package.json
  libs/ngx-pipes/package.json
  libs/ngx-pipes/project.json
  libs/ngx-pipes/src/index.ts
  libs/ngx-pipes/src/lib/ngx-pipes.module.ts
  libs/ngx-pipes/src/lib/templateliterals.pipe.ts
  libs/ngx-pipes/src/test-setup.ts
  libs/ngx-pipes/tsconfig.json
  libs/ngx-pipes/tsconfig.lib.json
  libs/ngx-pipes/tsconfig.lib.prod.json
  libs/ngx-pipes/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write

update to 15 angular
  libs/backend-static/package.json
  libs/base-models/package.json
  libs/defer-load/package.json
  libs/form-helpers/package.json
  libs/ngx-pipes/package.json
  migrations.json
  package-lock.json
  package.json
Due: none

add base permission
  libs/base-models/package.json
  libs/base-models/src/lib/base-permission.ts
  libs/base-models/src/lib/index.ts
Due: prettier --write

fix versions error
  angular.json
  libs/backend-static/package.json
  libs/base-classes/.browserslistrc
  libs/base-classes/.eslintrc.json
  libs/base-classes/README.md
  libs/base-classes/jest.config.ts
  libs/base-classes/ng-package.json
  libs/base-classes/package.json
  libs/base-classes/project.json
  libs/base-classes/src/index.ts
  libs/base-classes/src/test-setup.ts
  libs/base-classes/tsconfig.json
  libs/base-classes/tsconfig.lib.json
  libs/base-classes/tsconfig.lib.prod.json
  libs/base-classes/tsconfig.spec.json
  libs/defer-load/package.json
  libs/form-helpers/package.json
  package.json
  tsconfig.base.json
Due: prettier --write

fix versions error
  libs/backend-static/package.json
  libs/defer-load/package.json
  libs/form-helpers/package.json
  migrations.json
  package-lock.json
  package.json
Due: none

fix versions error
  package.json
Due: none

fix versions error
  libs/backend-static/package.json
  libs/defer-load/package.json
  libs/form-helpers/package.json
  package-lock.json
  package.json
Due: none

app versions fix peerDependencies
  libs/backend-static/package.json
  libs/base-models/package.json
  libs/base-models/src/lib/base-item.ts
  libs/defer-load/package.json
  libs/defer-load/src/lib/defer-load.directive.ts
  libs/form-helpers/package.json
  libs/ngx-pipes/package.json
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

rm angular json
  angular.json
Due: none

add right peer dependency
  libs/backend-static/package.json
  libs/base-models/package.json
  libs/defer-load/package.json
  libs/form-helpers/package.json
  libs/ngx-pipes/package.json
Due: none

fix deffer loader
  libs/defer-load/package.json
  libs/defer-load/src/lib/defer-load.directive.ts
Due: prettier --write

fix deffer loader upgrate nx version fix linter problems
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .prettierignore
  .stylelintrc
  apps/angular-core-e2e/project.json
  apps/angular-core-e2e/src/support/app.po.ts
  apps/angular-core/.eslintrc.json
  apps/angular-core/project.json
  apps/angular-core/src/app/app.component.ts
  apps/angular-core/src/app/app.module.ts
  apps/angular-core/src/app/nx-welcome.component.ts
  apps/angular-core/src/polyfills.ts
  decorate-angular-cli.js
  jest.config.ts
  jest.preset.js
  libs/backend-static/project.json
  libs/backend-static/src/lib/services/backend-static.service.ts
  libs/base-models/project.json
  libs/base-models/src/lib/base-item.ts
  libs/base-models/src/lib/base-permission.ts
  libs/base-models/src/lib/pagination.ts
  libs/defer-load/package.json
  libs/defer-load/project.json
  libs/defer-load/src/lib/defer-load.directive.ts
  libs/form-helpers/project.json
  libs/ngx-pipes/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

fix nx config
  apps/angular-core-e2e/project.json
  apps/angular-core/project.json
  libs/backend-static/project.json
  libs/base-models/project.json
  libs/defer-load/project.json
  libs/form-helpers/project.json
  libs/ngx-pipes/project.json
  nx.json
  package-lock.json
  package.json
Due: none

add default value for store and overload constructor
  libs/base-models/package.json
  libs/base-models/src/lib/base-storage.ts
Due: prettier --write

add overload
  libs/base-models/package.json
  libs/base-models/src/lib/base-storage.ts
Due: prettier --write
